<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="bin\Debug\netcoreapp3.1\SocialMedia.Api.exe" arguments="" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="443" />
          <environmentVariable name="DevConnection" value="Server=DEVISS-03-JC\\SQLXP2017;Database=SocialMedia;User Id=administrador;Password=DevSolutions3;MultipleActiveResultSets=true" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>